  <div class='ocr_page' id='page_1' title='image "/file_outputs/tiff/1459275388161.tiff"; bbox 0 0 1824 1974; ppageno 0'>
   <div class='ocr_carea' id='block_1_1' title="bbox 18 15 1509 115">
    <p class='ocr_par' dir='ltr' id='par_1_1' title="bbox 18 17 1509 115">
     <span class='ocr_line' id='line_1_1' title="bbox 19 17 589 58; baseline -0.004 0"><span class='ocrx_word' id='word_1_1' title='bbox 19 18 355 58; x_wconf 88' lang='por' dir='ltr'><strong>HELPSERVICE</strong></span> <span class='ocrx_word' id='word_1_2' title='bbox 371 17 449 57; x_wconf 91' lang='por' dir='ltr'><strong>SIC</strong></span> <span class='ocrx_word' id='word_1_3' title='bbox 467 18 589 56; x_wconf 89' lang='por' dir='ltr'><strong>LTDA</strong></span> 
     </span>
     <span class='ocr_line' id='line_1_2' title="bbox 18 74 1509 115; baseline -0.003 0"><span class='ocrx_word' id='word_1_4' title='bbox 18 76 110 115; x_wconf 86' lang='por' dir='ltr'><strong>FAX</strong></span> <span class='ocrx_word' id='word_1_5' title='bbox 1154 74 1252 113; x_wconf 80' lang='por' dir='ltr'><strong>Data</strong></span> <span class='ocrx_word' id='word_1_6' title='bbox 1268 74 1509 112; x_wconf 87' lang='por'><strong>03.03.2015</strong></span> 
     </span>
    </p>
   </div>