.fileUpload__input {
  background-color: inherit;
  border: none;
  box-shadow: none; }
.page {
  width: 80%;
  margin: 0 auto; }
  .page .page__title {
    color: #BAF; }
body {
  background-color: rgba(40, 30, 40, 0.6); }

label {
  padding-right: 1em; }

/*# sourceMappingURL=style.css.map*/