.panel{
    .panel-body{
        padding:1em 2em;
    }
    & h1,h2,h3{
        display: inline-block;
        padding-right: 1em;
    }
    & .panel-heading input{
        color:#000;
        line-height: 3em;
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: rgba(55,55,55,0.6);
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color: rgba(55,55,55,0.6);
           opacity:  0,6;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
           color: rgba(55,55,55,0.6);
           opacity:   0,6;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
           color: rgba(55,55,55,0.6);
        }
        &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
          color: rgba(55,55,55,0.6);
        }
    }
    .panelContainer{
        float:right;
        padding-right: 1em;
    }
}